//colores 
$primary: #1a2549;
$secondary: #476f7d;
$info: #645e9e;
$dark: #0c0f2c;
$light: #b3eee8;
$white: #ffffff;
$success:#34955c;
$warning: #dfc739;
$danger: #e91f1f;



//importar bootstrap
@import"../node_modules/bootstrap/scss/bootstrap.scss";


 